<?php 
    $form = $this->form;
    $form->prepare();
?>

<h1><?php echo $this->titulo; ?></h1>
<?php echo $this->form()->openTag($form); ?>

<div class="form-group">
    <?php echo $this->formLabel($form->get('nombre')); ?>
    <div class="col-sm-10">
        <?php echo $this->formElement($form->get('nombre')) ?>
        <?php echo $this->formElementErrors($form->get('nombre')) ?>
    </div>
</div>

<?php echo $this->form()->closeTag($form); ?>